:root {
    --primary-color: #e2ded2;
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);

  }
.main3{
width:100%;
background-position:center;
background-size: cover;
height: 100%;
}


.LogIn{
    width:350px;
    height:480px;
    background: linear-gradient(to top,rgba(210, 203, 172, 0.8)50%,rgba(210, 203, 172, 0.8)50%);
    position: absolute;
    border-radius: 10px;
    padding: 25px;
    margin-top: 100px;
    margin-left: 550px;
}

.LogIn h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color:rgb(113, 105, 66);
    font-size: 22px;
    background-color: aliceblue;
    border-radius: 10px;
    margin:2px;
    padding:8px;
    margin-left: 60px;
    
}

.LogIn input{
    width:340px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(43, 22, 15);
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(83, 74, 53);
    font-size: 15px;
    letter-spacing:1px;
    margin-top: 80px;
    font-family:sans-serif;
    font-weight: bold;

}
.LogIn input:focus{
    outline:none;
   
}

::placeholder{
    color:rgb(83, 74, 53);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}


.btnn{
width:240px;
height: 40px;
background: orangered;
border:none;
margin-top:125px;
margin-left: 55px;
font-size:18px;
border-radius: 10px;
cursor:pointer;
color:white;
transition:0.4s ease;
}
.btnn:hover{
color: orangered;
background: aliceblue;
}

.btnn a{
text-decoration: none;
color: black;
font-weight: bold;
}